<span><a href="/cart">Ver Carrito</a></span>
<h1>{{title}}</h1>

<div>
  <h2>{{product.title}}</h2>
  <p>Description: {{product.description}}</p>
  <p>Price: {{product.price}}</p>
  <p>Stock: {{product.stock}}</p>
  <p>Thumbnail: <img src="{{product.thumbnail}}" alt="Thumbnail" /></p>
  <button id="returnButton"><a href="/products/">Volver</a></button>
</div>
{{#if cartId}}
  <button id="addToCartButton" data-cart-id="{{this.cartId}} data-product-id="{{product._id}}"">Añadir al carrito</button>
{{/if}}

<script>
  const addToCartButtons = document.getElementById('addToCartButton'); 
  addToCartButtons.forEach(button => {
    button.addEventListener("click", function(event) {
      event.preventDefault();
      const productId = button.getAttribute("data-product-id");
      const cartId = button.getAttribute("data-cart-id")
      fetch(`/api/carts/${cartId}/product/${productId}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then(response => response.json())
        .then(data => {

          if (data.success) {
            alert("Producto agregado al carrito con éxito.");
          } else {
            alert("Hubo un problema al agregar el producto al carrito.");
          }
        })
        .catch(error => {
          console.error("Error al agregar el producto al carrito:", error);
        });
    });
  });
</script>