{{! Enlace para a単adir al carrito }}

<h1>{{title}}</h1>

<div>
  <h2>{{product.title}}</h2>
  <p>Description: {{product.description}}</p>
  <p>Price: {{product.price}}</p>
  <p>Stock: {{product.stock}}</p>
  <p>Thumbnail: <img src="{{product.thumbnail}}" alt="Thumbnail" /></p>
  <button id="returnButton"><a href="/products/">Volver</a></button>
</div>
{{#if cartId}}
  <button id="addToCartButton">A単adir al carrito</button>
{{/if}}

<script>
  const addToCartButton = document.getElementById('addToCartButton'); if
  (addToCartButton) { addToCartButton.addEventListener('click', async () => {
  try { const response = await fetch(`/api/carts/{{cartId}}/product/{{product._id}}`,
  { method: 'POST' }); if (response.ok) { console.log('Producto a単adido al
  carrito'); } else { console.error('Error al a単adir el producto al carrito'); }
  } catch (error) { console.error('Error al realizar la solicitud POST', error);
  } }); }
</script>