{{#if loginStatus}}
  <div>
    <h1>{{title}}</h1>
    <div>
      <label>Nombre:</label>
      <p>{{first_name}}</p>
    </div>

    <div>
      <label>Apellido:</label>
      <p>{{last_name}}</p>
    </div>

    <div>
      <label>Email:</label>
      <p>{{email}}</p>
    </div>

    <div>
      <label>Edad:</label>
      <p>{{age}}</p>
    </div>

    <form id="logoutForm">
      <button type="submit">Cerrar sesión</button>
    </form>
  </div>
  <script src="../static/js/logout.js"></script>
{{else}}
  <div>
    <h2>No iniciaste sesion</h2>
  </div>
{{/if}}